* {
  margin: 0;
  padding: 0;
}

body {
  background-color: aqua;
}

.slider {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slider__wraper {
  width: 900px;
  height: 600px;
  overflow: hidden;
  border: 10px solid white;
  border-radius: 25px;
}

.input__text {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

.navigation {
  display: flex;
}

.bar {
  height: 13px;
  width: 13px;
  margin: 6px;
  cursor: pointer;
  background-color: blue;
  border-radius: 25px;
  transition: all 2s ease;
}

.bar:hover {
  background-color: white;
}

input[name="radio"] {
  position: absolute;
  visibility: hidden;
}

@media screen and (max-width: 1024px) {
  .slider__wraper {
    max-width: 768px;
    /* margin: 0 auto; */

  }

  .input__text {
    padding-top: 20px;
    gap: 20px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .text {
    align-self: flex-start;
  }

}